# Reading change_requests.db into Pandas DataFrames
This notebook connects to the `change_requests.db` SQLite database, explores its tables, and loads them into Pandas DataFrames.

In [1]:
# Import required libraries
import sqlite3
import pandas as pd

In [2]:
# Connect to the SQLite database
conn = sqlite3.connect('change_requests.db')

# Create a cursor object
cursor = conn.cursor()

In [3]:
# Get all table names in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Display the table names
print("Tables in the database:")
for table in tables:
    print(table[0])

Tables in the database:
change_requests
sqlite_sequence

In [4]:
# Load each table into a Pandas DataFrame and store in a dictionary
dataframes = {}

for table in tables:
    table_name = table[0]
    print(f"\nLoading table: {table_name}")
    
    # Read the table into a Pandas DataFrame
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    dataframes[table_name] = df
    
    # Display the first few rows
    print(f"Preview of {table_name}:")
    display(df)

Loading table: change_requests
Preview of change_requests:

,id,project_name,change_number,requested_by,date_of_request,presented_to,change_name,description,reason,cost_items,category,timestamp
0,1,Project 1,CR-1241,Josh Boquiren,2025-03-18,Capstone CofC 2025,MacBook display malfunction,MacBook display goes black when opened completely,,"[{""item_description"": """", ""hours_reduction"": 0...",hardware issue,2025-03-18 14:51:20
1,2,Project 1,CR-1514,Josh Boquiren,2025-03-18,CofC Capstone 2015,MacBook display malfunction,MacBook display goes dark upon opening lid com...,,"[{""item_description"": """", ""hours_reduction"": 0...",hardware issue,2025-03-18 15:02:04
2,3,Project 2,CR-1585,Josh Boquiren,2025-03-18,CofC Capstone 2025,People problems,Sandra from HR keeps stealing my lunch.,Because I hate her guts.,"[{""item_description"": """", ""hours_reduction"": 0...",other,2025-03-18 15:03:07
3,4,Project 3,CR-1153,Josh Boquiren,2025-03-18,CofC Capstone 2025,OS issue,Old laptop runs slow running Windows; would li...,,"[{""item_description"": """", ""hours_reduction"": 0...",software issue,2025-03-18 15:04:20

Loading table: sqlite_sequence
Preview of sqlite_sequence:

              name  seq
0  change_requests    4

In [5]:
if 'your_table_name' in dataframes:
    df_example = dataframes['your_table_name']
    display(df_example.describe())
else:
    print("Replace 'your_table_name' with a valid table name from the list above.")

Replace 'your_table_name' with a valid table name from the list above.

In [6]:
# Close the database connection
conn.close()
print("Database connection closed.")

Database connection closed.

## Notes
- Ensure `change_requests.db` is in the same directory as this notebook, or update the file path in the `sqlite3.connect()` call.
- The `dataframes` dictionary stores all tables as Pandas DataFrames, accessible by table name.
- Use `display()` for nicer output in Jupyter; it’s better than `print()` for DataFrames.